<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<p>I’m really happy to welcome you here. Hope we will have a great time. Let’s enjoy ourselves and have a blast.</p>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>